	<div class="mb-5"></div>
	
<!-- PERSONAL SCRIPTS -->
	<script src="/js/main.js"></script>
	<% scripts.footer.forEach(function(scr){ %>
  			<script src="<%= scr %>"></script>
	<% });%>

	</body>
</html>