<% include ../partials/header%>
<div class="container w-75 border-secondary border-top border-bottom py-2">
	
	<h1 class="d-sm-none d-block display-4 text-center">New Comment</h1>
	<h1 class="d-none d-sm-block display-3 text-center">New Comment</h1>
	
	<form action="/campgrounds/<%= campground._id %>/comments" method="POST">
		<input type="hidden" name="comment[date]" value='<%= new Date() %>'>
		<div class="d-flex justify-content-center">
			<div class="form-group w-75">
				<label for="content" class="text-uppercase"><strong>Comment</strong></label>
				<textarea type="text" name="comment[text]" class="form-control" placeholder="Comment" id="content"></textarea>
			</div>
		</div>
		<div class="d-flex justify-content-center">
			<div class="form-group w-75">
				<button type="submit" name="submit" class="btn-block btn-primary btn-lg">SUBMIT</button>
			</div>
		</div>
		<div class="d-flex justify-content-center">
			<div class="form-group">
					<a href="/campgrounds/<%= campground._id %>" class="text-secondary">GO BACK<i class="fas fa-undo-alt text-dark"></i></a>
			</div>
		</div>
	</form>
	
</div>
<% include ../partials/footer%>