body{
	height: 100%;
	width: 100%;
	color: #2B3163;
	font-family: 'Recursive', sans-serif;
}

button{
	background-color: #2B3163;
	color: #CDB30C;
}

button:hover{
	background-color: #CDB30C;
	color: #2B3163;
}

nav.navbar{
	background-color: #2B3163;
	min-height: 5em;
	color: #CDB30C ;
}

nav.navbar #brand{
	font-size: 1.5rem;
	color: #CDB30C ;
	margin: 0 20px;
} 

nav.navbar #brand:hover{
	color: #535204;
} 

nav.navbar li.nav-item a.nav-link{
	font-family: 'Montserrat', sans-serif;
	color: #CDB30C ;
	margin: 0 20px;
}

nav.navbar li.nav-item a.nav-link:hover{
	color: #535204;
} 

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}
