body{
	height: -webkit-calc(100vh - 6em);
	overflow-x: hidden;
}

div#myProfileCol{
	box-shadow: 1px 0px 3px lightgray;
}

div#campgroundsCol{
	box-shadow: 1px 0px 3px lightgray;
}

/* ACCORDION SETTING */

ul#profileOption{
	list-style-type:none;
	padding: 0;
	margin-top: 2em;
}

ul#profileOption li{
	margin-bottom: 1em;
	cursor:pointer;
}

/* CAMPGROUND CARDS */
div.card:hover{
	border:3px solid #523906;
}

img.campground-img{
	opacity:0.9;
}

img.campground-img:hover{
	opacity:1;
}

div.card-body h5.card-title{
	font-family: 'Montserrat', sans-serif;	
}

h5.card-title a{
	color: inherit;
}

h5.card-title a:hover{
	text-decoration: none;
	color: #62760C;
}

div.card-body p.card-text{
	font-weight: 300;	
}

button.editButton a{
	background-color: inherit;
	color: inherit;
}

button.editButton a:hover{
	text-decoration: none;
	color: inherit;
	background-color: inherit;
}

/* HIDE BUTTONS OF ACTION */
div.ownerButtons{
	display:none;
}

/* Finish Card Settings */

/* DELETE CAMPGROUND DIALOG */
div.ui-dialog{
	border: 5px inset #CF1025;
	opacity: 0.7;
}

div.ui-dialog:hover{
	opacity: 1;	
}

div.ui-dialog-titlebar{
	text-align: center;
    background-color: #CF1025;
    color: white;
}

div.ui-dialog-content{
	padding: 10px 5px 0px 5px;
    text-align: justify;
    font-style: italic;
}
div.ui-dialog-content p{
	margin:0;
}

div.ui-dialog-buttonpane{
    display: flex;
    justify-content: space-between;
}

div.ui-dialog div.ui-dialog-buttonpane div.ui-dialog-buttonset button.ui-button{
	margin: 2px 10px;
}

div.ui-dialog div.ui-dialog-buttonpane div.ui-dialog-buttonset button.ui-button:hover{
	background-color: #CF1025;
    font-weight: 600;
    color: white;
}

button.editButton, button.deleteButton{
	background-color: #CDB30C;
	color: #62760C;
}

button.editButton:hover{
	background-color: orange;
	color: #CCE8F5;	
}

button.deleteButton:hover{
	background-color: red;
	color: #CCE8F5;	
}
