body, html{
	height: 100vh;
	overflow: hidden;
}

div#myProfileCol{
	box-shadow: 1px 0px 3px lightgray;
}

div#campgroundsCol{
	box-shadow: 1px 0px 3px lightgray;
}

/* ACCORDION SETTING */

ul#profileOption{
	list-style-type:none;
	padding: 0;
	margin-top: 2em;
}

ul#profileOption li{
	margin-bottom: 1em;
	cursor:pointer;
}

/* CAMPGROUND CARDS */
div.card:hover{
	border:3px solid #2B3163;
}

img.campground-img{
	opacity:0.9;
}

img.campground-img:hover{
	opacity:1;
}

div.card-body h5.card-title{
	font-family: 'Montserrat', sans-serif;	
}

a{
	color: inherit;
}

a:hover{
	text-decoration: none;
	color: inherit;
}

div.card-body p.card-text{
	font-weight: 300;	
}

button.editButton a{
	background-color: inherit;
	color: inherit;
}

button.editButton a:hover{
	text-decoration: none;
	color: inherit;
	background-color: inherit;
}

/* HIDE BUTTONS OF ACTION */
div.ownerButtons{
	display:none;
}