body{
	overflow-x: hidden;
}

div.container {
	margin-top: 7em;
}

img.campground-img{
	opacity:0.9;
}

img.campground-img:hover{
	opacity:1;
}

div.card-body h5.card-title{
	font-family: 'Montserrat', sans-serif;	
}

div.card-body p.card-text{
	font-weight: 300;	
}

div.card-body a{
	background-color: #2B3163;
	color: #CDB30C;
}

div.card-body a:hover{
	background-color: #CDB30C;
	color: #2B3163;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}