div#createNewCampground{
	border: 2px solid #2B3163;
	opacity: 0.9;
}

div#createNewCampground:hover{
	opacity: 1;
}

h1{
	font-family: 'Montserrat', sans-serif;
}

label{
	font-weight: 300;
}

input.form-control:focus , textarea.form-control:focus{
    border-color: #2B3163;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #2B3163 ;
}