body{
	overflow-x: hidden;
}

a{
	text-decoration: none !important;
	color: inherit;
}
a:hover{
	color: inherit;
}

/* RESPONSIVE IMAGE */
div#campground-image{
	opacity: 0.98;
}

div#campground-image:hover{
	opacity: 1;
}

div#campground-description{
	margin: 150px 0px 100px 0px;
}

p.campgroundauthor{
	font-weight: 300;
	font-size: 0.9em;
}

/* COMMENTS */
a.newCommentButton{
	background-color: #2B3163;
	color: #CDB30C;;
}

a.newCommentButton:hover{
	background-color: #CDB30C;
	color: #2B3163;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}