/* RESPONSIVE IMAGE */
div.yelpCampInfo li{
	font-weight: 300;
	color: #CDB30C;
}

div.yelpCampInfo li:hover{
	font-weight: 400;
}

div.yelpCampInfo li.activeItem{
	background-color: #2B3163;
}

div.card img.img-responsive{
	min-height:400px;
	max-height:500px;
}

/* CARD BODY */
a{
	text-decoration: none !important;	
}

h3, h4{
	font-family: 'Montserrat', sans-serif;
}

h3.campgroundName{
	text-align:center;
	color: #2B3163;
}

h3.campgroundPrice{
	text-align:right;	
}

p{
	font-weight: 400;
	font-size: 1.1em;
}

p.campgroundauthor{
	font-weight: 300;
}

h4.commentsDisplay{
	font-family: 'Montserrat', sans-serif;
}

/* COMMENTS */
a.newCommentButton{
	background-color: #CDB30C;
	color: #2B3163;
}

a.newCommentButton:hover{
	background-color: #2B3163;
	color: #CDB30C;
}

@media only screen and (max-width: 768px){
	div.card img.img-responsive{
		min-height:200px;
		max-height:300px;
	}
}